@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title</h2>
<h3>Tantana.uz First platform in Uzbekistan for wedding services. </h3>

<p>We are Tantana.uz who help businesses and clients find each other regarding wedding ceremony. Here clients can find variety of wedding services depending on their budget, preferences and other factors. marketplace that helps engaged couples search, compare and book local wedding professionals. Its comprehensive suite of planning tools and services, inspiration and community make it easy for couples to plan their wedding and help them enjoy every part of the journey.</p>
