@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>
<h3>
   Get in touch for general inquiries, press and investor relations information or to contact human resources.
</h3>

<address>
    79, Shokirariq street<br />
    YangiHayot district<br />
    Tashkent, Uzbekistan<br />
    <abbr title="Phone">P:</abbr>
    +998 90 903 18 48
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zafarbek2top@gmail.com">zafarbek2top@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@tantana.com">Marketing@tantana.com</a>
</address>